<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Website Title{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;400&display=swap" rel="stylesheet">
</head>
<body>
    <header class="site-header">
        <img class="site-logo" src="https://api-assets.clashofclans.com/badges/512/Z4CSpLlobD7Xl40FZhCQ0BzvZUcAdLvBEBOavqiHN90.png" alt="Clan Logo">
        <span class="site-title">Clan War Progress - Pussay Palace</span>
        <button class="refresh-btn pastel-red-title .pastel-red-title:hover" onclick="location.reload()">
            &#x21bb; Refresh Data
        </button>
    </header>
    <nav class="nav-bar">
        <a href="{{ url_for('main.index') }}">Home</a>
        <a href="{{ url_for('main.war_table') }}">Full War Table</a>
        <a href="{{ url_for('main.progress_graphs') }}">Progress Graphs</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script>
        const backgrounds = [
            "../static/images/clash-of-clans-wall-breaker-vs-barbarian-xkva5z9lcx4g23e9.webp",
            "../static/images/hog rider 1.webp",
            "../static/images/hog rider 2.webp"
        ];
        const idx = Math.floor(Math.random() * backgrounds.length);
        document.body.style.backgroundImage = `url('${backgrounds[idx]}')`;
    </script>
</body>
</html>