<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clan War League Stats - Pussay Palace</title>
    <link rel="icon" type="image/png" href="https://api-assets.clashofclans.com/badges/512/Z4CSpLlobD7Xl40FZhCQ0BzvZUcAdLvBEBOavqiHN90.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="site-header">
        <img class="site-logo" src="https://api-assets.clashofclans.com/badges/512/Z4CSpLlobD7Xl40FZhCQ0BzvZUcAdLvBEBOavqiHN90.png" alt="Clan Logo">
        <span class="site-title">Clan War Progress - Pussay Palace</span>
    </div>
    <div class="nav-bar">
        <nav>
            <a href="/">Home</a>
            <a href="/coming-soon">Full War Table</a>
            <a href="/coming-soon">Progress Graphs</a>
        </nav>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script>
        const backgrounds = [
            "../static/images/clash-of-clans-wall-breaker-vs-barbarian-xkva5z9lcx4g23e9.webp",
            "../static/images/hog rider 1.webp",
            "../static/images/hog rider 2.webp"
        ];
        const idx = Math.floor(Math.random() * backgrounds.length);
        document.body.style.backgroundImage = `url('${backgrounds[idx]}')`;
    </script>
</body>
</html>